@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

button
{
   margin : 5px ;
   border : 2px solid ;
   -moz-border-top-colors : #858B97 #ECEFF2 ;
   -moz-border-right-colors : #ECEFF2 #858B97 ;
   -moz-border-bottom-colors : #ECEFF2 #858B97 ;
   -moz-border-left-colors : #858B97 #ECEFF2 ;
   -moz-border-radius : 5px ;
   padding : 8px ;
}

