@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* combobox */
.combobox {
	-moz-binding: url("chrome://smartfilters/content/smartfilters.xml#combobox");
}

/* richlistbox */
.smartfilters-box {
	-moz-binding: url("chrome://smartfilters/content/smartfilters.xml#box");
}

/* richboxitem */
.smartfilters-item {
	-moz-binding: url("chrome://smartfilters/content/smartfilters.xml#item");
}

.smartfilters-row-icon {
  margin-right:0.3cm;
}
