@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* combobox */
.combobox {
	-moz-binding: url("chrome://smartfilters/content/smartfilters.xml#combobox");
}

/* richlistbox */
.smartfilters-box {
	-moz-binding: url("chrome://smartfilters/content/smartfilters.xml#box");
}

/* richboxitem */
.smartfilters-item {
	-moz-binding: url("chrome://smartfilters/content/smartfilters.xml#item");
}

.smartfilters-row-icon {
  margin-right:0.3cm;
}

.smartfilters-row-icon[type="mailing list"] {
	list-style-image: url("chrome://smartfilters/skin/classic/mailing_list.png");
}

.smartfilters-row-icon[type="robot"] {
	list-style-image: url("chrome://smartfilters/skin/classic/robot.png");
}

.smartfilters-row-icon[type="subject"] {
	list-style-image: url("chrome://smartfilters/skin/classic/subject.png");
}
